extends ../../layouts/default.pug  
include ../../mixins/box-head.pug  

block main  
  .container.my-3  
    .row  
      .col-12  
        +box-head(pageTitle)  
    .row  
      .col-6  
        // Hiển thị mã QR từ qrCodeUrl  
        img.paying-qr(src=qrCode, alt="Mã QR để thanh toán")  
      .col-6  
        div.inner-account-owner Chủ tài khoản: #{paymentData.accountOwner}  
        div.inner-account-number Số tài khoản: #{paymentData.accountNumber}  
        div.inner-account-name Tên tài khoản: #{paymentData.bankName}  
        div.inner-amount Số tiền cần thanh toán: #{paymentData.amount} Đ