extends ../../layouts/default.pug

block main
  if (productCategory.title)
    h1(class="mb-4") #{productCategory.title}

  if (productCategory.price)
    div(class="mb-4") Giá: <b>#{productCategory.price}$</b>

  if (productCategory.discountPercentage)
    div(class="mb-4") Giảm giá: <b>#{productCategory.discountPercentage}%</b>

  if (productCategory.stock)
    div(class="mb-4") Còn lại: <b>#{productCategory.stock}</b>

  if (productCategory.thumbnail)
    div(class="mb-4")
      img(
        src=productCategory.thumbnail
        style="width: 100px"
      )

  if (productCategory.status)
    div(class="mb-4")
      span Trạng thái:
      if (productCategory.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (productCategory.position)
    div(class="mb-4") Vị trí: <b>#{productCategory.position}</b>

  if (productCategory.description)
    div(class="mb-4") !{productCategory.description}