extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/box-actions-trash.pug
block main
  if(role.permissions.includes("orders_view"))
    h1(class="mb-4") Thùng rác
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
            +search(keyword)
    if(role.permissions.includes("orders_edit"))
      .card.mb-3
        .card-header Hành động
          .card-body
            +box-actions-trash(`/${prefixAdmin}/orders/trash/change-multi`)
      .card.mb-3
        .card-header Sắp xếp
        .card-body
          .row
            .col-5
              div(sort)
                select(
                  class="form-control"
                  name="sort"
                  sort-select
                )
                  option(value="updatedAt-desc") Xóa mới nhất
                  option(value="updatedAt-asc") Xóa cũ nhất
                  option(value="totalPrice-desc") Tổng giá giảm dần
                  option(value="totalPrice-asc")  Tổng giá tăng dần

                button(
                  class="btn btn-danger mt-2"
                  sort-clear
                ) Clear

    .card.mb-3
      .card-header Danh sách
      .card-body
        div(class="text-right mb-2")
        table.table.table-hover.table-sm
          thead
            tr
              th
                input(name="checkAll" type = "checkbox")
              th STT
              th Mã đơn hàng
              th Ngày đặt hàng
              th Khách hàng
              th Tổng giá
              th Số sản phẩm
              if(role.permissions.includes("orders_edit"))
                th Khôi phục
              th Xóa bởi
              th Hành động
          tbody
            each item, index in orders
              tr
                td
                  input(
                    name="checkItem" 
                    type = "checkbox"
                    value = item.id 
                  ) 
                td #{index+1}
                td #{item.id}
                td #{item.createdAtFormat}
                td #{item.createdByFullName}
                td #{item.totalPrice}đ
                td #{item.totalQuantity}
                if(role.permissions.includes("orders_edit"))
                  td
                    button(
                      link=`/${prefixAdmin}/orders/trash/restore/${item.id}` 
                      button-restore
                      class="badge badge-secondary"
                      ) Khôi phục
                td
                  div #{item.deletedByFullName}
                  if(item.createdAtFormat!=item.updatedAtFormat)
                    div #{item.updatedAtFormat}
                td
                  a(
                    class="btn btn-info btn-sm"
                    href = `/${prefixAdmin}/orders/trash/detail/${item.id}`
                    ) Chi tiết
                  if(role.permissions.includes("orders_delete"))
                    button(
                      class="btn btn-danger btn-sm ml-1"
                      button-delete-permanently
                      link=`/${prefixAdmin}/orders/trash/deletePermanently/${item.id}`
                    ) Xóa
    +pagination(pagination)